<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-badge slot="end" color="danger">2</ion-badge>
        <ion-icon class="icon" size="large" slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon size="large" slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="tertiary">
    <div class="saudacao">
      <div>{{saudacao}},</div>
      <div class="nome">{{ clients.nome }}</div>
    </div>

    <div class="barra">
      <ion-progress-bar [style]="'background-color: blue; width:' + limiteUtilizado/total*100 + '%'">
      </ion-progress-bar>
      <ion-progress-bar [style]="'background-color: red; width:' + proximasFaturas/total*100 + '%'">
      </ion-progress-bar>
      <ion-progress-bar [style]="'background-color: green; width:' + limiteDisponivel/total*100 + '%'">
      </ion-progress-bar>
    </div>
    <div style="display: flex">
      <div style="display: flex; flex-direction: column">
        <div class="lim">R$ {{ clients.limiteUtilizado  }}</div>
        <div class="limUti">Limite Utilizado</div>
      </div>
      <div style="display: flex; flex-direction: column">
        <div class="lim">R$ {{clients.proximaFatura}}</div>
        <div class="limUti">Próximas faturas</div>
      </div>
      <div style="display: flex; flex-direction: column">
        <div class="lim">R$ {{clients.limiteDisponivel}}</div>
        <div class="limUti">Limite disponível</div>
      </div>
    </div>
    <ion-card class="buttonShop" style="display: flex">
      <ion-button>
        <ion-icon size="small" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <div  style="display: flex; flex-direction: column">
        <div class="lim">Compra mais recente</div>
        <div class="limTitle">{{ compras.estabelecimento }}</div>
        <div class="limSub">{{ compras.cartao }}</div>
      </div>
      <div class="limSaldo">
        R$ {{ compras.valor }}
      </div>
      <ion-icon size="large" class="seta" name="chevron-forward-outline"></ion-icon>
    </ion-card>
  </ion-toolbar>

  <ion-toolbar class="tool">
    <h3 class="limTitleCard">Meus Cartões</h3>
    <div *ngFor="let item of cartao" class="cartoes">
      <div class="cartao">
        <img [src]="item.imagem">
        <div class="dispCard" style="display: flex">
          <div class="cardDispSub">Disponível</div>
          <div class="cardDisp">R$ {{ item.disponivel }}</div>
        </div>
      </div>
      <div class="cartao">
        <img [src]="item.imagem">
        <div class="dispCard" style="display: flex">
          <div class="cardDispSub">Disponível</div>
          <div class="cardDisp">R$ {{ item.disponivel }}</div>
        </div>
      </div>
      <div class="cartao">
        <img [src]="item.imagem">
        <div class="dispCard" style="display: flex">
          <div class="cardDispSub">Disponível</div>
          <div class="cardDisp">R$ {{ item.disponivel }}</div>
        </div>
      </div>
      <div class="cartao">
        <img [src]="item.imagem" alt="">
        <div class="dispCard" style="display: flex">
          <div class="cardDispSub">Disponível</div>
          <div class="cardDisp">R$ {{ item.disponivel }}</div>
        </div>
      </div>
    </div>

  <div class="lancamentos">
    <h3 class="limTitleCard">Últimos Lançamentos</h3>
    <ion-row *ngFor="let item of lancamento" class="ion-align-items-start">
      <div  class="lancamento">
        <ion-col size="2">
          <div class="data">{{ item.data }}</div>
        </ion-col>
        
        <ion-col size="3">
          <div class="categoria">
            <ion-button class="iconLanca">
              <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
       
        <ion-col size="4">
          <div style="flex-direction: column">
            <div>{{ item.estabelecimento }} </div>
            <div class="cardVisa">{{ item.cartao }}</div>
          </div>
        </ion-col>
        
        <ion-col size="3">  
          <div style="flex-direction: column">
            <div class="valor">R$ {{ item.valor }}</div>
            <div class="limSub">{{ item.pontos }} pts</div>
            <div class="parcela">Parcela {{ item.parcelaAtual }} de {{ item.totalParcelas }}</div>
          </div>
        </ion-col>
      </div>
      </ion-row>
  </div>
  </ion-toolbar>
</ion-content>
